:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:#87406C
    } 
    
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
color: rgb(82,112,255);
    /* opacity: 1!important; */
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.nome {
    width: 800px;
}

.email {
    width: 400px;
}

.endereco {
    width: 842px;
}

button {
    margin-right: 15px;
    /* margin-top: 20px; */
    background-color: rgb(26, 26, 26);
    border-width: 1px;
    color: white;
    border-radius: 20px;
}

.botao {
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;
    /* margin-top: 20px; */
    padding-left: 100px;
    padding-right: 100px;
    /* margin-top: 20px; */
    background-color: rgb(82,112,255);
    border-width: 1px;
    color: white;
    border-radius: 20px;
}

.botao:disabled {
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 0;
    /* margin-top: 20px; */
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(57, 136, 96, 0.39);
    border-width: 1px;
    color: white;
    border-radius: 20px;
}

.cancelar {
    margin-left: 1vh;
    margin-top: 1vh;
    margin-right: 1vh;
    margin-bottom: 0;
    border-width: 1px;
    background-color: rgb(234, 22, 34);
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
}

.atualizarSenha{
    text-decoration: underline;
    color: #87406C;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}


mat-card {
    max-width: 65%;
    margin: 3em auto;
    text-align: center;
    background-color: white;
    color: rgb(82,112,255);
    border-color: rgb(82,112,255);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

@media (max-width: 786px){
    mat-card {
        /* color: rgb(82,112,255); */
        font-size: larger;  
        max-width: 95%;
        margin: 1em;
        /* margin-top: 3vh; */
        text-align: center;
        background-color: white;
        color: rgb(82,112,255);
        border-color: rgb(82,112,255);
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        /* box-shadow: 60px -16px teal */
    }

}

mat-form-field {
    display: block;
    color: white;
}

.iconeForm{
    vertical-align: middle;
    font-size: 30px;
    font-weight: 100; 
}

mat-label{
    vertical-align: middle;
    color: black;
}

mat-form-field {
    display: block;
    color: black;
}